.bg-hero-section{
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ececec 10px ), repeating-linear-gradient( #ececec, #f7f7f7 );
}

.resume-button{
    background: #49a1b8;
}

.portfolio-keywords{
    color: #71deae;
}

.second-part{
    background: #ececec;
}

.social-network-icon{
    color: rgb(156 163 175);
}

.social-networks a:hover, .social-networks a:hover > svg *{
    color: #71deae;
    border-color: #71deae;
    /*fill: #71deae;*/
}