.bg-hero-section{
    /*background: white;*/
    background: linear-gradient(135deg, #ececec 16.66%, transparent 0 83.33%, #ececec 0), conic-gradient(from 45deg at 66.66% 33.33%, #f1f1f1 135deg, rgba(241,241,241,0.75) 0% 225deg, rgba(241,241,241,0.5) 0%);
    background-size: 100px 100px;
    background-color: #ececec;
}

.resume-button{
    background: #49a1b8;
}

.portfolio-keywords{
    color: #71deae;
}

.second-part{
    background: #ececec;
}

.social-network-icon{
    color: rgb(156 163 175);
}

.social-networks a:hover, .social-networks a:hover > svg *{
    color: #71deae;
    border-color: #71deae;
    /*fill: #71deae;*/
}